#toolbar {
    height: 30px;
    background: #09496a;
    display: flex;
}

.tb__menu{
    width: 200px;
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    color: white;
}

table {
    margin-top: 20px;
    width: 100%;
}

.project__number {
    width: 10%;
}

.project__name {
    width: 20%;
}

.project__users {
    width: 60%;
}

.project__status {
    width: 10%;
}

td, th {
    text-align: center;
}